<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.file.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UtilTest</servlet-name>
    <servlet-class>com.file.servlet.UtilTest</servlet-class>
  </servlet>


  <!--文件上传-->
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <!--工具类测试-->

  <servlet-mapping>
    <servlet-name>UtilTest</servlet-name>
    <url-pattern>/test.do</url-pattern>
  </servlet-mapping>

</web-app>
